#corps{
margin-left:120px;
}
#compte-du-futur {
  padding:0;
  margin:0;
  list-style:none;
  text-indent: 15px;
  width: 1000px;
  color:black;
  font-size: 15px;
  border:solid 2px black;
  margin-top:50px;
  font-family: arial;  
}
#compte-du-futur ul {
  padding:0;
  margin:0;
  list-style:none;  
}
#compte-du-futur li {
   background-color:#FFFFFF; 
   border-radius: 1px;
   margin-bottom:0px;  
}
#compte-du-futur li li {
   max-height:0;
   overflow: hidden;
   -moz-transition:all 1s;
   border-radius:0;
   background: white;
   box-shadow: none;
   border:none;
   margin:0;
}
#compte-du-futur a {
  display:block;
  text-decoration: none;
  color: black;
  padding: 8px 0; 
  border:solid 2px; 
}
#compte-du-futur ul li a, #compte-du-futur li:hover li a { 
  border:none;   
}
#compte-du-futur li:hover {
   background: #FFFFFF;
}
#compte-du-futur li:hover li {
  max-height: 15em;
}
#modif{
 -moz-transition: color 2s;
    color: #6E98B8;
    font-size: 30px;
}
#modif:hover {
color: #EDA11A;
}
#profil{
float:left;
}
#avatar{
background: fixed;
}
#info{
width: 700px;
height: 150px;
border-width:2px;
border-style:solid ;
border-color:black;
margin-left: 50px; 
}
#description{
width:965px;
height: 100px;
border-width:2px;
border-style:solid ;
border-color:black;
margin-left: 15px
}
#modif {
  margin-left:600px;
  font-size: 20px;
}
#info {
  margin-bottom: 50px;
}
#alerte{
  padding-left:600px;
  
}
#p{
width:200px;
height:50px;
border-width:2px;
border-style:solid ;
border-color:black;
margin-left: 15px  
}
#offre{

}
