body 
{
  display: block;
  margin: auto;
}

.slogan{
	text-align: center;
	border: 2px double black;
	margin-left: 35%;
	width: 50%;
	margin-top: -7%;
	background-color:#FFDAB9 ;

}
#logo {
  width: 20%;
  float: top;
  margin-left: 10%;
  margin-top: -1%;
}

header {
  background-color: #FFF8DC;
  height: 2%;
  font-family: 'Calibri';
  border-bottom-color: black;
  border-bottom: solid;
  border-bottom-width: 2px;
}

ul {
  background-color: #F5F5F5;
  border: 2px solid black;
  list-style-type: none;
  text-align: center;
  width: 53%;
  padding: 9px;
  margin-top: 2%;
  margin-left: 20%;
  font-family: 'Calibri';
}

li{
	display: inline-block;
	margin-right: 2%;
	margin-left: 2%;

}
.sedeconnecter {
  margin-left: 77%;
  margin-top: -4%;
}
.panier{
	margin-left: 90%;
}
.recherche {
  margin-left: 25%;
  margin-bottom: 0px;
}

.aide {
  float: right;
  margin-right: 126px;
  margin-top: 10px;
}

.footer {
  text-align: center;
  margin-top: 72px;
}

a
{
color:black;
text-decoration:none;
}

a:hover
{
text-decoration:underline;
}
